<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="referrer" content="never" />
    <meta name="referrer" content="no-referrer" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Flyer 3D App</title>
    <link rel="shortcut icon" href="/en-US/static/@939EB8155336BDDEDC42A6E777671C1D4F3268EDFF120A6CB5DC40FE580368E8.198/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />

</head>

<body>
    <header>
        <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
        <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
        </div>
    </header>
    
    <!-- BEGIN LAYOUT: This section contains the layout for the dashboard. -->
    
    <h1>Flyer 3d</h1>
    <p>A demo to check </p>
    
    <!-- END LAYOUT -->
    <!-- Scripts sections -->
    
</body>

</html>