<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="referrer" content="never" />
    <meta name="referrer" content="no-referrer" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Flyer 3D App</title>
    <link rel="shortcut icon" href="/en-US/static/@939EB8155336BDDEDC42A6E777671C1D4F3268EDFF120A6CB5DC40FE580368E8.198/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />

</head>

<body class="simplexml preload locale-en" data-splunk-version="6.6.1" data-splunk-product="enterprise">
    <!-- 
    BEGIN LAYOUT
    This section contains the layout for the dashboard.
    -->
    <header>
        <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
        <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
            <div id="placeholder-app-bar"></div>
        </div>
        <a id="navSkip"></a>
    </header>
    <div class="dashboard-body container-fluid main-section-body" data-role="main">
        <div class="dashboard-header clearfix">
            <h2>weber-flyer</h2>
        </div>


        <div id="row1" class="dashboard-row dashboard-row1">
            <div id="panel1" class="dashboard-cell" style="width: 100%;">
                <div class="dashboard-panel clearfix">

                    <div class="panel-element-row">
                        <div id="element1" class="dashboard-element html" style="width: 100%">
                            <div class="panel-body html">
                                <h2>
                                    Welcome to your new app. You can customize this app to look and work any way you
                                    want. Here are a few options to get you started:
                                </h2>
                                <ul>
                                    <li>Change the pages (or views) in this app. Edit this view, or create a new one
                                        through Splunk Manager.</li>
                                    <li>Change the navigation menu for this app. The navigation menu shows at the top
                                        of this view.</li>
                                    <li>Read more on building apps in the <a href="/help?location=sample_dashboard">Developer
                                            Manual</a>.</li>
                                    <li>If you're not seeing any data, enable the "sample data" app in Manager <a href="/manager/search/apps/local">here</a>.
                                        Note that this will index sample data which will count toward your daily
                                        indexing volume.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="row2" class="dashboard-row dashboard-row2">
            <div id="panel2" class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel clearfix">

                    <div class="panel-element-row">
                        <div id="element2" class="dashboard-element chart" style="width: 100%">
                            <div class="panel-head">
                                <h3>Top recipients</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel3" class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel clearfix">

                    <div class="panel-element-row">
                        <div id="element3" class="dashboard-element chart" style="width: 100%">
                            <div class="panel-head">
                                <h3>Top recipients by mailer</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="row3" class="dashboard-row dashboard-row3">
            <div id="panel4" class="dashboard-cell" style="width: 100%;">
                <div class="dashboard-panel clearfix">

                    <div class="panel-element-row">
                        <div id="element4" class="dashboard-element event" style="width: 100%">
                            <div class="panel-head">
                                <h3>Sendmail transactions</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 
END LAYOUT
-->

    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
    <script type="text/javascript">
        // <![CDATA[
        // <![CDATA[
        //
        // LIBRARY REQUIREMENTS
        //
        // In the require function, we include the necessary libraries and modules for
        // the HTML dashboard. Then, we pass variable names for these libraries and
        // modules as function parameters, in order.
        // 
        // When you add libraries or modules, remember to retain this mapping order
        // between the library or module and its function parameter. You can do this by
        // adding to the end of these lists, as shown in the commented examples below.

        require([
            "splunkjs/mvc",
            "splunkjs/mvc/utils",
            "splunkjs/mvc/tokenutils",
            "underscore",
            "jquery",
            "splunkjs/mvc/simplexml",
            "splunkjs/mvc/layoutview",
            "splunkjs/mvc/simplexml/dashboardview",
            "splunkjs/mvc/simplexml/dashboard/panelref",
            "splunkjs/mvc/simplexml/element/chart",
            "splunkjs/mvc/simplexml/element/event",
            "splunkjs/mvc/simplexml/element/html",
            "splunkjs/mvc/simplexml/element/list",
            "splunkjs/mvc/simplexml/element/map",
            "splunkjs/mvc/simplexml/element/single",
            "splunkjs/mvc/simplexml/element/table",
            "splunkjs/mvc/simplexml/element/visualization",
            "splunkjs/mvc/simpleform/formutils",
            "splunkjs/mvc/simplexml/eventhandler",
            "splunkjs/mvc/simplexml/searcheventhandler",
            "splunkjs/mvc/simpleform/input/dropdown",
            "splunkjs/mvc/simpleform/input/radiogroup",
            "splunkjs/mvc/simpleform/input/linklist",
            "splunkjs/mvc/simpleform/input/multiselect",
            "splunkjs/mvc/simpleform/input/checkboxgroup",
            "splunkjs/mvc/simpleform/input/text",
            "splunkjs/mvc/simpleform/input/timerange",
            "splunkjs/mvc/simpleform/input/submit",
            "splunkjs/mvc/searchmanager",
            "splunkjs/mvc/savedsearchmanager",
            "splunkjs/mvc/postprocessmanager",
            "splunkjs/mvc/simplexml/urltokenmodel"
            // Add comma-separated libraries and modules manually here, for example:
            // ..."splunkjs/mvc/simplexml/urltokenmodel",
            // "splunkjs/mvc/tokenforwarder"
        ],
            function (
                mvc,
                utils,
                TokenUtils,
                _,
                $,
                DashboardController,
                LayoutView,
                Dashboard,
                PanelRef,
                ChartElement,
                EventElement,
                HtmlElement,
                ListElement,
                MapElement,
                SingleElement,
                TableElement,
                VisualizationElement,
                FormUtils,
                EventHandler,
                SearchEventHandler,
                DropdownInput,
                RadioGroupInput,
                LinkListInput,
                MultiSelectInput,
                CheckboxGroupInput,
                TextInput,
                TimeRangeInput,
                SubmitButton,
                SearchManager,
                SavedSearchManager,
                PostProcessManager,
                UrlTokenModel

                // Add comma-separated parameter names here, for example: 
                // ...UrlTokenModel, 
                // TokenForwarder
            ) {

                var pageLoading = true;


                // 
                // TOKENS
                //

                // Create token namespaces
                var urlTokenModel = new UrlTokenModel();
                mvc.Components.registerInstance('url', urlTokenModel);
                var defaultTokenModel = mvc.Components.getInstance('default', { create: true });
                var submittedTokenModel = mvc.Components.getInstance('submitted', { create: true });

                urlTokenModel.on('url:navigate', function () {
                    defaultTokenModel.set(urlTokenModel.toJSON());
                    if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                        submitTokens();
                    } else {
                        submittedTokenModel.clear();
                    }
                });

                // Initialize tokens
                defaultTokenModel.set(urlTokenModel.toJSON());

                function submitTokens() {
                    // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
                    FormUtils.submitForm({ replaceState: pageLoading });
                }

                function setToken(name, value) {
                    defaultTokenModel.set(name, value);
                    submittedTokenModel.set(name, value);
                }

                function unsetToken(name) {
                    defaultTokenModel.unset(name);
                    submittedTokenModel.unset(name);
                }



                //
                // SEARCH MANAGERS
                //

                new SavedSearchManager({
                    "id": "search1",
                    "searchname": "Top recipients - pie chart",
                    "status_buckets": 0,
                    "cancelOnUnload": true,
                    "cache": "scheduled",
                    "app": utils.getCurrentApp(),
                    "auto_cancel": 90,
                    "rt_backfill": true,
                    "preview": true,
                    "tokenDependencies": {
                    },
                    "runWhenTimeIsUndefined": false
                }, { tokens: true, tokenNamespace: "submitted" });

                new SavedSearchManager({
                    "id": "search2",
                    "searchname": "Top recipients by mailer - area chart",
                    "status_buckets": 0,
                    "cancelOnUnload": true,
                    "cache": "scheduled",
                    "app": utils.getCurrentApp(),
                    "auto_cancel": 90,
                    "rt_backfill": true,
                    "preview": true,
                    "tokenDependencies": {
                    },
                    "runWhenTimeIsUndefined": false
                }, { tokens: true, tokenNamespace: "submitted" });

                new SavedSearchManager({
                    "id": "search3",
                    "searchname": "Sendmail transactions",
                    "status_buckets": 300,
                    "cancelOnUnload": true,
                    "cache": "scheduled",
                    "app": utils.getCurrentApp(),
                    "auto_cancel": 90,
                    "rt_backfill": true,
                    "preview": true,
                    "tokenDependencies": {
                    },
                    "runWhenTimeIsUndefined": false
                }, { tokens: true, tokenNamespace: "submitted" });



                //
                // SPLUNK LAYOUT
                //

                $('header').remove();
                new LayoutView({ "hideChrome": false, "hideAppBar": false, "hideSplunkBar": false, "hideFooter": false })
                    .render()
                    .getContainerElement()
                    .appendChild($('.dashboard-body')[0]);

                //
                // DASHBOARD EDITOR
                //

                new Dashboard({
                    id: 'dashboard',
                    el: $('.dashboard-body'),
                    showTitle: true,
                    editable: true
                }, { tokens: true }).render();


                //
                // VIEWS: VISUALIZATION ELEMENTS
                //

                var element1 = new HtmlElement({
                    "id": "element1",
                    "useTokens": true,
                    "el": $('#element1')
                }, { tokens: true, tokenNamespace: "submitted" }).render();

                DashboardController.addReadyDep(element1.contentLoaded());

                var element2 = new ChartElement({
                    "id": "element2",
                    "resizable": true,
                    "managerid": "search1",
                    "el": $('#element2')
                }, { tokens: true, tokenNamespace: "submitted" }).render();


                var element3 = new ChartElement({
                    "id": "element3",
                    "resizable": true,
                    "managerid": "search2",
                    "el": $('#element3')
                }, { tokens: true, tokenNamespace: "submitted" }).render();


                var element4 = new EventElement({
                    "id": "element4",
                    "managerid": "search3",
                    "el": $('#element4')
                }, { tokens: true, tokenNamespace: "submitted" }).render();

                // Initialize time tokens to default
                if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
                    defaultTokenModel.set({ earliest: '0', latest: '' });
                }

                submitTokens();


                //
                // DASHBOARD READY
                //

                DashboardController.ready();
                pageLoading = false;

            }
        );
// ]]>
    </script>
</body>

</html>